@charset "utf-8";
/* CSS Document */

.ProjectTitle {
	font-family: Arial, Helvetica, sans-serif;
	color: #30F;
	font-size: 24px;
	text-align: right;
	padding-right: 30px;
	letter-spacing: 0.1em;
}
body {
	margin: 2px;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-left: 10px;
}

.copyRightFont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}
.bgColor {
	background-color: #E6E6E6;
}
